/* Footer.css */
.footer {
  background-color: #3498db;
  padding: 012px;
  text-align: center;
  color: white;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.15);
  bottom: 0; /* Stick it to the bottom */
}